<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading"><strong>Reset Password</strong></div>
      <div class="panel-body">
          <div *ngIf="!rpStatus && responseReceived" class="alert alert-danger">
              <strong>{{ rpMsg }}</strong>
          </div>
          <div *ngIf="rpStatus && responseReceived" class="alert alert-success">
              <strong>{{ rpMsg }}</strong>
          </div>
          <form *ngIf="!redirect" [formGroup]="formRP" (ngSubmit)="onSubmit()">

          <fieldset>

            <!-- Password -->
            <div class="form-group">
              <input
                      class="form-control"
                      formControlName="password"
                      type="password"
                      placeholder="Password"
              >
            </div>
            <div *ngIf="formRP.get('password').invalid && formRP.get('password').touched">
              <div class="alert alert-danger" *ngIf="formRP.get('password').hasError('required')">
                Your Password is Required!
              </div>
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
              <input
                      class="form-control"
                      formControlName="confirm_password"
                      type="password"
                      placeholder="Confirm Password"
              >
            </div>
            <div *ngIf="formRP.get('confirm_password').invalid && formRP.get('confirm_password').touched">
              <div class="alert alert-danger" >
                <div *ngIf="formRP.get('confirm_password').hasError('required')">
                  Confirm password is Required!
                </div>
                <div *ngIf="formRP.get('confirm_password').hasError('confirmPassword')">
                  Confirm Password did not Match!
                </div>
              </div>
            </div>

            <button class="btn btn-primary" [disabled]="formRP.invalid || rpRequested">
              <i *ngIf="rpRequested" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
              Reset Password
            </button>
            <button type="reset" class="btn btn-default" [disabled]="rpRequested" (click)="onReset()">Reset</button>
            <button type="button" class="btn btn-primary pull-right" [disabled]="rpRequested" (click)="onNavigate()">Login</button>
          </fieldset>
        </form>
        <div class="row" *ngIf="redirect">
              <div class="col-md-12 col-sm-12 redirect">
                  <p>We are <strong>redirecting</strong> you to the Sign In page within <strong>{{ clock }} seconds</strong>.
                      <br/>Please wait or <a routerLink="/login">click here</a> to go to <strong>Log In</strong> page.
                  </p>
              </div>
          </div>
      </div>
    </div>
  </div><!-- /.col-->
</div><!-- /.row -->
