<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading"><strong>Forgot Password</strong></div>
            <div class="panel-body">
                <div *ngIf="!fpStatus && responseReceived"
                     class="alert alert-danger"
                >
                    <strong>{{ fpResponseMsg }}</strong>
                </div>
                <div *ngIf="fpStatus && responseReceived"
                     class="alert alert-success"
                >
                    <strong>{{ fpResponseMsg }}</strong>
                </div>
                <form *ngIf="!redirect" #form="ngForm" (ngSubmit)="onSubmit(form)">

                    <fieldset>
                        <div class="form-group">
                            <input
                                    class="form-control"
                                    placeholder="Please enter your email!"
                                    name="email"
                                    ngModel
                                    email
                                    required
                                    #email="ngModel"
                            >
                        </div>
                        <div class="alert alert-danger"
                             *ngIf="email.invalid && email.touched"
                        >
                            <div *ngIf="email.errors.required">
                                Email is Required!
                            </div>
                            <div *ngIf="email.errors.email">
                                Email is Not Proper!
                            </div>

                        </div>


                        <button
                                [disabled]="form.invalid || showLoader"
                                class="btn btn-primary"
                        >
                            <i *ngIf="showLoader" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                            Forgot Password
                        </button>
                        <button type="reset" class="btn btn-default" [disabled]="showLoader" (click)="onReset(form)">Reset</button>
                        <button type="button" class="btn btn-primary pull-right" [disabled]="showLoader" (click)="onNavigate()">Login</button>
                    </fieldset>
                </form>
                <div class="row" *ngIf="redirect">
                    <div class="col-md-12 col-sm-12 redirect">
                        <p>We are <strong>redirecting</strong> you to the Sign In page within <strong>{{ clock }}
                            seconds</strong>.
                            <br/>Please wait or <a routerLink="/login">click here</a> to go to <strong>Log In</strong>
                            page.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.col-->
</div><!-- /.row -->
