<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Wem - List</h3>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Wem List
            </div>
            <div class="panel-body overflowFix">

                <!-- Message Section -->
                <div class="row">
                    <div class="col-lg-12">
                        <div *ngIf="!responseStatus && responseReceived" class="alert alert-danger">
                            <strong>{{ responseMsg }}</strong>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div *ngIf="responseStatus && responseReceived" class="alert alert-success">
                            <strong>{{ responseMsg }}</strong>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let wem of wemData">
                            <td>{{ wem.first_name }}</td>
                            <td>{{ wem.last_name }}</td>
                            <td>{{ wem.email }}</td>
                            <td>{{ wem.status_user }}</td>
                            <td>
                                <button
                                        class="btn btn-warning btn-xs"
                                        type="button" *ngIf="wem.hold" title="Click to Exemption this account" (click)="changeUserStatus(wem)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
                                </button>
                                <button
                                        class="btn btn-danger btn-xs"
                                        type="button" *ngIf="!wem.hold" title="Click to hold this account" (click)="changeUserStatus(wem)">
                                    <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
                                </button>
                                
                            </td>
                        </tr>
                        <tr *ngIf="!wemData">
                            {{ 'No WEM Found!' }}
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div><!--/.row-->

<!-- Pop Up -->
<div class="row" *ngIf="prompt">

    <div class="col-md-6">

        <!-- Popup -->
        <div class="alert-middle">

            <div class="alert-middle-main">

                <h4>
                    Are you sure you want to delete this<br/>
                    <strong>Report</strong>?
                </h4>

                <span class="close-btn" (click)="hidePrompt()">&times;</span>
                <div class=btn-confirm>
                    <button class="btn btn-primary" (click)="deletePrompt()">Confirm</button>
                    <button class="btn btn-danger" (click)="hidePrompt()">Cancel</button>
                </div>

            </div>

        </div>

    </div>

</div>
