<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">{{ title }}</h3>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{ heading }} Province</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div *ngIf="!responseStatus && responseReceived" class="alert alert-danger">
                            <strong>{{ responseMsg }}</strong>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div *ngIf="responseStatus && responseReceived" class="alert alert-success">
                            <strong>{{ responseMsg }}</strong>
                        </div>
                    </div>
                </div>
                <form #createProvinceForm="ngForm" (submit)="onSubmit(createProvinceForm)">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pname">Province Name</label>
                                <input
                                        id="pname"
                                        class="form-control"
                                        name="province_name"
                                        required
                                        [ngModel]="provinceData.province_name"
                                        #provinceName="ngModel">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="alert alert-danger" *ngIf="provinceName.invalid && provinceName.touched">
                                Province Name is Required!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fname">Pastor's First Name</label>
                                <input
                                        id="fname"
                                        class="form-control"
                                        name="first_name"
                                        required
                                        [ngModel]="provinceData.first_name"
                                        #firstName="ngModel">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="alert alert-danger" *ngIf="firstName.invalid && firstName.touched">
                                First Name is Required!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lname">Pastor's Last Name</label>
                                <input
                                        id="lname"
                                        class="form-control"
                                        name="last_name"
                                        required
                                        [ngModel]="provinceData.last_name"
                                        #lastName="ngModel">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="alert alert-danger" *ngIf="lastName.invalid && lastName.touched">
                                Last Name is Required!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary" [disabled]="createProvinceForm.invalid || showLoader">
                                <i *ngIf="showLoader" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                                Submit
                            </button>
                            <button
                                    type="button"
                                    class="btn btn-default"
                                    [disabled]="showLoader"
                                    (click)="onReset(createProvinceForm)">Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


