/node_modules
/resources/assets/Parish/dist
/resources/assets/Parish/tmp
/resources/assets/Parish/out-tsc
/resources/assets/Parish/node_modules
/resources/assets/Parish/.idea
/resources/assets/Parish/e2e/*.js
/resources/assets/Parish/e2e/*.map
/resources/assets/Parish/src/environments/environment.prod.ts
/storage/*.key
/vendor
/.idea
/.vagrant
/storage/paymentReceipt/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
