
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Csv - Upload</h3>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">CSV</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div *ngIf="!responseStatus && responseReceived" class="alert alert-danger">
                            <strong>{{ responseMsg }}</strong>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div *ngIf="responseStatus && responseReceived" class="alert alert-success">
                            <strong>{{ responseMsg }}</strong>
                        </div>
                    </div>
                </div>

                Download Sample Csv here: <a (click)="downloadCsv()" class="btn btn-active btn-xs"><i class="fa fa-download fa-fw"></i></a>

                <div  class="col-lg-12">
                    <div id="cover-spin" *ngIf="showSpinner"></div>
                    <form
                        #insertCsvForm="ngForm"
                        (submit)="onSubmit(insertCsvForm)">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pfile">Upload File (*)</label>
                                <input
                                        id="pfile"
                                        class="form-control"
                                        name="uploadfile"
                                        required
                                        [ngModel]="csvData.uploadfile"
                                        #uploadFile="ngModel"
                                        type="file"
                                        ng2FileSelect [uploader]="uploader"

                                        (change)="checkUploadedFileType($event)"
                                > 1. Only .csv, .xls, .xlsx files are accepted.
                                <br>
                                  2. Startdate is mandatory for parish creation in uploaded file.

                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group" *ngIf="uploader?.queue?.length && length">
                                <label></label>
                                <div class="progress">
                                    <div data-percentage="0%" [ngStyle]="{ 'width': progress  + '%' }" class="progress-bar progress-bar-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="alert alert-danger" *ngIf="uploader?.queue?.length == 0 && uploadFile.touched">
                                File is Required!
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary" [disabled]="uploader?.queue?.length == 0 || !length || csvData.invalid || showLoader">
                                <i *ngIf="showLoader" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                                Submit
                            </button>

                            <button
                                    type="button"
                                    class="btn btn-default"
                                    [disabled]="showLoader"
                                    (click)="onReset(insertCsvForm)">Reset
                            </button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-prompt
        *ngIf="showProceedPrompt"
        [calledFrom]="'CSV'"
        [itemInfo]="toProceedCharge"
        [itemText]="promptMsg"
></app-prompt>