<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Payment - List</h3>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                List Payment
                <button (click)="onResetFilters()" class="resetfilter btn btn-default">Reset Filter</button>
            </div>

            <div class="panel-body overflowFix">

                <!-- Error or Success Message -->
                <div class="row">
                    <div class="col-lg-12">
                        <div *ngIf="!responseStatus && responseReceived" class="alert alert-danger">
                            <strong>{{ responseMsg }}</strong>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div *ngIf="responseStatus && responseReceived" class="alert alert-success">
                            <strong>{{ responseMsg }}</strong>
                        </div>
                    </div>
                </div>

                <!-- Reset Filter - Month - Year -->
                <div class="row">
                    <div class="col-md-3">
                       <!-- <p></p>
                        <button (click)="onResetFilters()">Reset Filter</button>-->
                    </div>

                    <div class="col-md-3 col-md-offset-3">
                        <label>Filter Month:</label>
                        <select
                                #selectedMonth
                                class="form-control"
                                [(ngModel)]="selectionMonth"
                                (change)="onSelectMonth(selectedMonth.value)">
                            <option value="0" selected>Choose...</option>
                            <option [value]="month.number" *ngFor="let month of months;">{{ month.name }}</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label>Filter Year:</label>
                        <select
                                #selectedYear
                                class="form-control"
                                [(ngModel)]="selectionYear"
                                (change)="onSelectYear(selectedYear.value)">
                            <option value="0" selected>Choose...</option>
                            <option
                                    *ngFor="let year of currentYearList"
                                    [value]="year">
                                {{ year }}
                            </option>
                        </select>
                    </div>

                </div>

                <br>

                <!-- Province - Zone - Area - Parish -->
                <div class="row">

                    <!-- Province -->
                    <div class="col-md-3" *ngIf="isWEM">
                        <label>Filter Province:</label>
                        <select
                                #selectedProvince
                                name="province_id"
                                class="form-control"
                                [(ngModel)]="selectionProvince"
                                (change)="onSelectProvince(selectedProvince.value)">
                            <option value="0" selected>Choose...</option>
                            <option
                                    *ngFor="let province of provinceList"
                                    [value]="province.id">
                                {{ province.province_name }}
                            </option>
                        </select>

                    </div>

                    <!-- Zone -->
                    <div class="col-md-3" *ngIf="isWEM || isProvincePastor">
                        <label>Filter Zone:</label>
                        <select
                                #selectedZone
                                class="form-control"
                                [(ngModel)]="selectionZone"
                                (change)="onSelectZone(selectedZone.value)">
                            <option value="0" selected>Choose...</option>
                            <option
                                    *ngFor="let zone of zoneList"
                                    [value]="zone.id">
                                {{zone.zone_name}}
                            </option>
                        </select>
                    </div>

                    <!-- Area -->
                    <div class="col-md-3" *ngIf="isWEM || isProvincePastor || isZonePastor">
                        <label>Filter Area:</label>
                        <select
                                #selectedArea
                                class="form-control"
                                [(ngModel)]="selectionArea"
                                (change)="onSelectArea(selectedArea.value)">
                            <option value="0" selected>Choose...</option>
                            <option
                                    *ngFor="let area of areaList"
                                    [value]="area.id">
                                {{area.area_name}}
                            </option>
                        </select>
                    </div>

                    <!-- Parish -->
                    <div class="col-md-3" *ngIf="isWEM || isProvincePastor || isZonePastor || isAreaPastor">
                        <label>Filter Parish:</label>
                        <select
                                #selectedParish
                                name="parish_id"
                                class="form-control"
                                [(ngModel)]="selectionParish"
                                (change)="onSelectParish(selectedParish.value)">
                            <option value="0" selected>Choose...</option>
                            <option
                                    *ngFor="let parish of parishList"
                                    [value]="parish.id">
                                {{ parish.parish_name }}
                            </option>
                        </select>

                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Parish Id</th>
                            <th>Province / Zone / Area / Parish</th>
                            <th>Description</th>
                            <th>Payment Month / Year</th>
                            <th>File</th>
                            <th>Status</th>
                            <th *ngIf="!isProvincePastor && !isZonePastor && !isAreaPastor">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let payment of paymentDetails">
                            <td>ROI{{ payment.parish_id }}</td>
                            <td>{{ payment.province_name }} / {{ payment.zone_name }} / {{ payment.area_name }} / {{ payment.parish_name }}</td>
                            <td>{{ payment.payment_description }}</td>
                            <td>{{ months[payment.upload_month - 1].name }} / {{ payment.upload_year }}</td>
                            <td>{{ payment.file_name }}</td>
                            <td>{{ payment.pay_status }} <i class="fa fa-info-circle color-font" aria-hidden="true" title="{{ payment.reject_reason }}" *ngIf="payment.reject"></i> </td>
                            <td *ngIf="!isProvincePastor && !isZonePastor && !isAreaPastor">
                                <!-- Appear Only in Admin Section -->
                                <span *ngIf="payment.hold">
                                    <button
                                            class="btn btn-success btn-xs"
                                            type="button" *ngIf="isWEM" (click)="OnChangeStatus(payment,0)"> Accept
                                    </button>
                                    <button
                                            class="btn btn-danger btn-xs"
                                            type="button" *ngIf="isWEM" (click)="OnChangeStatus(payment,1)"> Reject
                                    </button>

                                </span>
                                <!-- End appear in admin section -->
                                <button
                                        class="btn btn-active btn-xs"
                                        type="button" *ngIf="isWEM">
                                    <i class="fa fa-eye fa-fw"></i><a target="_blank" class="btn btn-active btn-xs" [href]="base_url+'/paymentReceipt/'+payment.file_name" *ngIf="isWEM">View</a>

                                </button>


                                <button
                                        class="btn btn-active btn-xs"
                                        type="button" *ngIf="isWEM && payment.reject">
                                    <i class="fa fa-trash fa-fw"></i><a (click)="showPrompt(payment)">Delete</a>

                                </button>

                                <button
                                        class="btn btn-active btn-xs"
                                        type="button" *ngIf="isWEM || (!isWEM && payment.accept)">
                                    <i class="fa fa-download fa-fw"></i><a [href]="base_url+'/paymentReceipt/'+payment.file_name" [download]="payment.file_name">Download</a>

                                </button>

                                <input type="file" ng2FileSelect [uploader]="uploader" class="upload_file" *ngIf="isParishPastor && payment.payment_status == 1 " (change)="showUploader(payment,$event)" accept=".pdf,.doc,.docx,.jpeg,.jpg,.PDF,.DOC,.DOCX,.JPEG,.JPG"/>

                                <button type="button" class="btn btn-success btn-xs"
                                        (click)="upload(payment)" *ngIf="showUploadButton == payment.id">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>

                                <div class="progress" *ngIf="showUploadButton == payment.id && showProgressbar">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progress  + '%' }"></div>
                                </div>

                            </td>
                        </tr>
                        <tr *ngIf="ifNoData" >
                            <td> No record found </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div><!--/.row-->

<app-prompt
        *ngIf="showDeletePrompt"
        [calledFrom]="'Payment'"
        [itemInfo]="toDeletePayment"
></app-prompt>

<app-prompt
        *ngIf="showRejectPrompt"
        [calledFrom]="'PaymentReject'"
        [itemInfo]="toRejectPayment"
        [itemText]="'Payment'"
></app-prompt>
