.progress {
    margin-bottom: 0;
}
.upload_file{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}
.resetfilter {
    float: right;
}

.alert.alert-success {
    background-color: #4CAF50;
}
.color-font {
    color: #b92c28;
}
