<div class="row" *ngIf="!isParish && loadder">
  <div class="col-xs-12 col-md-6 col-sm-12 col-lg-3" *ngIf="superAdmin">
    <statsCard [data]="card1"></statsCard>
  </div>
    <div class="col-xs-12 col-md-6 col-sm-12 col-lg-3" *ngIf="superAdmin">
        <statsCard [data]="card8"></statsCard>
    </div>
    <div class="col-xs-12 col-md-6 col-sm-12 col-lg-3" *ngIf="superAdmin">
        <statsCard [data]="card9"></statsCard>
    </div>
  <div class="col-xs-12 col-md-6 col-lg-3" *ngIf="wem || superAdmin">
    <statsCard [data]="card2"></statsCard>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3" *ngIf="wem || superAdmin || showZone">
    <statsCard [data]="card3"></statsCard>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3" *ngIf="wem || superAdmin || showArea">
    <statsCard [data]="card4"></statsCard>
  </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <statsCard [data]="card5"></statsCard>
    </div>
</div><!--/.row-->

<div class="row" *ngIf="isParish">
    <div class="col-xs-12 col-md-6 col-lg-3">
        <statsCard [data]="card6"></statsCard>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <statsCard [data]="card7"></statsCard>
    </div>
</div><!--/.row-->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Site Traffic Overview</div>
      <div class="panel-body">
        <div class="canvas-wrapper" >
          <canvas baseChart style="min-height: 300px;width: 100%; height: 50vh"
                  [options]="ChartOptions"
                  [datasets]="lineChartData"

                  [labels]="lineChartLabels"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"

          ></canvas>
        </div>
      </div>
    </div>
  </div>
</div><!--/.row-->


