<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-collapse"
                    (click)="toggle()">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa {{toggleBarIcon?'fa-bars':'fa-remove'}} text-white custom-nav-toggle"></i>
            </button>
            <a class="navbar-brand" [routerLink]="['/dashboard']" ><span>Parish </span><!--Admin--></a>
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        User <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li [routerLink]="['/profile']"><a><i class="fa fa-fw fa-user"></i> Profile</a></li>
                        <li><a><i class="fa fa-fw fa-cogs"></i> Settings</a></li>
                        <li><a (click)="onLogout()"><i class="fa fa-fw fa-lock"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <ul class="nav menu">

        <!-- Dashboard Section -->
        <li>
            <a routerLinkActive="active" [routerLink]="['/dashboard']">
                <i class="fa fa-dashboard fa-fw"></i>
                Dashboard
            </a>
        </li>

        <li role="presentation" class="divider"></li>

        <!-- Province Section -->
        <li class="parent " *ngIf="showSidebar">
            <a data-toggle="collapse" href="#sub-item-1">
                <i class="fa fa-fw fa-chevron-circle-down"></i> Province
            </a>
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a routerLinkActive="active" [routerLink]="['/province/create']">
                        <i class="fa fa-fw fa-plus-square"></i> Create
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/province/list']">
                        <i class="fa fa-fw fa-th-list"></i> List
                    </a>
                </li>
            </ul>
        </li>

        <!-- Zone Section -->
        <li class="parent" *ngIf="showSidebar">
            <a data-toggle="collapse" href="#sub-item-2">
                <i class="fa fa-fw fa-chevron-circle-down"></i> Zone
            </a>
            <ul class="children collapse" id="sub-item-2">
                <li>
                    <a routerLinkActive="active" [routerLink]="['/zone/create']">
                        <i class="fa fa-fw fa-plus-square"></i> Create
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/zone/list']">
                        <i class="fa fa-fw fa-th-list"></i> List
                    </a>
                </li>
            </ul>
        </li>

        <!-- Area Section -->
        <li class="parent" *ngIf="showSidebar">
            <a data-toggle="collapse" href="#sub-item-3">
                <i class="fa fa-fw fa-chevron-circle-down"></i> Area
            </a>
            <ul class="children collapse" id="sub-item-3">
                <li>
                    <a routerLinkActive="active" [routerLink]="['/area/create']">
                        <i class="fa fa-fw fa-plus-square"></i> Create
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/area/list']">
                        <i class="fa fa-fw fa-th-list"></i> List
                    </a>
                </li>
            </ul>
        </li>

        <li role="presentation" class="divider" *ngIf="showSidebar"></li>

        <!-- Parish Section -->
        <li class="parent" *ngIf="showSidebar">
            <a data-toggle="collapse" href="#parish-section">
                <i class="fa fa-fw fa-chevron-circle-down"></i> Parish
            </a>
            <ul class="children collapse" id="parish-section">
                <li>
                    <a routerLinkActive="active" [routerLink]="['/parish/create']">
                        <i class="fa fa-fw fa-plus-square"></i> Create
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/parish/list']">
                        <i class="fa fa-fw fa-th-list"></i> List
                    </a>
                </li>
            </ul>
        </li>

        <li role="presentation" class="divider" *ngIf="showSidebar"></li>

        <!-- Payment Section -->
        <li class="parent">
            <a data-toggle="collapse" href="#payment-section">
                <i class="fa fa-fw fa-chevron-circle-down"></i> Payment
            </a>
            <ul class="children collapse" id="payment-section">
                <li *ngIf="paymentOption">
                    <a routerLinkActive="active" [routerLink]="['/payment/upload']">
                        <i class="fa fa-fw fa-plus-square"></i> Upload
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/payment/list']">
                        <i class="fa fa-fw fa-th-list"></i> List
                    </a>
                </li>
            </ul>
        </li>

        <!-- Report Section -->
        <li class="parent" *ngIf="showSidebar">
            <a data-toggle="collapse" href="#report-section">
                <i class="fa fa-fw fa-chevron-circle-down"></i> Report
            </a>
            <ul class="children collapse" id="report-section">
                <li>
                    <a routerLinkActive="active" [routerLink]="['/report/create']">
                        <i class="fa fa-fw fa-plus-square"></i> Create
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/report/list']">
                        <i class="fa fa-fw fa-th-list"></i> List
                    </a>
                </li>
            </ul>
        </li>

        <li role="presentation" class="divider" *ngIf="showSidebar"></li>


        <!--<li><a routerLinkActive="active" [routerLink]="['/form']"><i class="fa fa-list fa-fw"></i> Form</a></li>

        <li class="parent ">
            <a data-toggle="collapse" href="#sub-item-4">
                <i class="fa fa-fw fa-chevron-circle-down"></i> Widgets
            </a>
            <ul class="children collapse" id="sub-item-4">
                <li>
                    <a routerLinkActive="active" [routerLink]="['/widget/main']">
                        <i class="fa fa-fw fa-cogs"></i> Main
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/widget/table']">
                        <i class="fa fa-fw fa-table"></i> Table
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]="['/widget/chart']">
                        <i class="fa fa-fw fa-bar-chart"></i> Charts
                    </a>
                </li>
            </ul>
        </li>
        <li role="presentation" class="divider"></li>-->

    </ul>
</div><!--/.sidebar-->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <!-- Main content -->
    <div class="row">
        <ng2-auto-breadcrumb></ng2-auto-breadcrumb>
    </div><!--/.row-->

    <router-outlet></router-outlet>
</div>
