.title {
  text-transform: none;
  color:#fff !important;
}

.sidebar ul.nav ul.children li a {
  height: 40px;
  background: #3c424e;
  color: #ffffff!important;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 20px;
}

.sidebar ul.nav li.parent ul li a.active{background: #565e6f; text-decoration: none;}

@media only screen and (max-width: 480px){
  .attribution {
    position: relative;
  }
  .sidebar{
    position: fixed; /* Set the navbar to fixed position */
    top: 50px; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
.navbar-toggle{
  padding: initial !important;
}
.custom-nav-toggle{
  padding:5px 15px 5px 15px;
  font-size:20px;
}
a {
  cursor: pointer;
}
.sidebar {
  background-color: #252525;
}
.nav > li > a{
  color: #fff;
}
.navbar-inverse {
  background: #1c1c1c;
  border-bottom: 1px solid #fff;
}
.main .breadcrumb {
  background: none;
  box-shadow: none;
}
.fa-fw {
  font-size: 20px;
}
.sidebar ul.nav a:hover, .sidebar ul.nav li.parent ul li a:hover, .nav > li > a:hover, .nav > li > a:focus{
  background: #1c1c1c;
}



@media only screen and (max-width: 767px){
  .nav {
    overflow-y: auto;
    max-height: 420px;
  }
}


@media only screen and (max-width: 440px){


  .nav{margin-top:50px;}

}
@media only screen and (max-width: 370px){

  .navbar-header .navbar-brand{font-size: 12px;}
  .nav{margin-top:50px;}


}