<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Payment</h3>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Upload Payment</div>
            <div class="panel-body">
                <!--<div class="row">
                    <div class="col-lg-12">
                        <div *ngIf="!responseStatus && responseReceived" class="alert alert-danger">
                            <strong>{{ responseMsg }}</strong>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div *ngIf="responseStatus && responseReceived" class="alert alert-success">
                            <strong>{{ responseMsg }}</strong>
                        </div>
                    </div>
                </div>-->
                <form #uploadPaymentForm="ngForm" (submit)="onSubmit(uploadPaymentForm)">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pdate">Choose Year & Month</label>
                                <!--<input
                                        id="pdate"
                                        class="form-control"
                                        name="payment_date"
                                        required
                                        [ngModel]="paymentDate.payment_date"
                                        #paymentDate="ngModel">-->
                                <input id="pdate"
                                       class="form-control"
                                       datepicker-popup="MM/yyyy"
                                       ng-model="dt"
                                       is-open="opened"
                                       datepicker-options="{minMode: 'month'}"
                                       datepicker-mode="'month'"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="alert alert-danger" *ngIf="paymentDate.invalid && paymentDate.touched">
                                Payment Date is Required!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pfile">Upload File</label>
                                <input
                                        id="pfile"
                                        class="form-control"
                                        name="uploadfile"
                                        required
                                        [ngModel]="paymentDate.uploadfile"
                                        #uploadFile="ngModel"
                                        type="file"
                                        ng2FileSelect [uploader]="uploader"
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="alert alert-danger" *ngIf="uploader?.queue?.length == 0 && uploadFile.touched">
                                File is Required!
                            </div>
                        </div>
                    </div>
                    <p>Queue length: {{ uploader?.queue?.length }}</p>

                    <div *ngFor="let item of uploader.queue">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary" [disabled]="uploader?.queue?.length == 0 || paymentDate.invalid ||showLoader">
                                <i *ngIf="showLoader" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                                Submit
                            </button>

                           <!-- <button type="button" class="btn btn-success btn-xs"
                                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>-->
                            <button
                                    type="button"
                                    class="btn btn-default"
                                    [disabled]="showLoader"
                                    (click)="onReset(uploadPaymentForm)">Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


