<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">{{ title }}</h3>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{ heading }} Zone</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div *ngIf="!responseStatus && responseReceived" class="alert alert-danger">
                            <strong>{{ responseMsg }}</strong>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div *ngIf="responseStatus && responseReceived" class="alert alert-success">
                            <strong>{{ responseMsg }}</strong>
                        </div>
                    </div>
                </div>
                <form
                        #createZoneForm="ngForm"
                        (submit)="onSubmit(createZoneForm)">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Province</label>
                                <select
                                        #selected
                                        name="province_id"
                                        [ngModel]="zoneData.province_id"
                                        class="form-control"
                                        (change)="onSelectProvince(selected.value)">
                                    <option value="0" selected>Choose...</option>
                                    <option
                                            *ngFor="let province of provinceList"
                                            [value]="province.id">
                                        {{province.province_name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="zname">Zone Name</label>
                                <input
                                        id="zname"
                                        class="form-control"
                                        [disabled]="!provinceList || !provinceSelected"
                                        name="zone_name"
                                        required
                                        [ngModel]="zoneData.zone_name"
                                        #zoneName="ngModel">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div
                                    class="alert alert-danger"
                                    *ngIf="zoneName.invalid && zoneName.touched">
                                Zone Name is Required!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fname">Pastor's First Name</label>
                                <input
                                        id="fname"
                                        class="form-control"
                                        [disabled]="!provinceList || !provinceSelected"
                                        name="first_name"
                                        required
                                        [ngModel]="zoneData.first_name"
                                        #firstName="ngModel">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div
                                    class="alert alert-danger"
                                    *ngIf="firstName.invalid && firstName.touched">
                                First Name is Required!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lname">Pastor's Last Name</label>
                                <input
                                        id="lname"
                                        class="form-control"
                                        [disabled]="!provinceList || !provinceSelected"
                                        name="last_name"
                                        required
                                        [ngModel]="zoneData.last_name"
                                        #lastName="ngModel">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div
                                    class="alert alert-danger"
                                    *ngIf="lastName.invalid && lastName.touched">
                                Last Name is Required!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button
                                    class="btn btn-primary"
                                    [disabled]="!provinceList || !provinceSelected || ( createZoneForm.invalid && createZoneForm.touched )">
                                <i *ngIf="showLoader" class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                                Submit
                            </button>
                            <button
                                    type="button"
                                    class="btn btn-default"
                                    (click)="onReset(createZoneForm)">Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

