<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Zone - List</h3>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body overflowFix">

                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Province/Zone</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>Place</td>
                            <td>john@example.com</td>
                            <td>secure</td>
                            <td>
                                <button class="btn btn-warning btn-xs" type="button">
                                    <i class="fa fa-pencil fa-fw"></i>
                                </button>
                                <button class="btn btn-danger btn-xs" type="button">
                                    <i class="fa fa-trash fa-fw"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>Place 2</td>
                            <td>mary@example.com</td>
                            <td>secure 2</td>
                            <td>
                                <button class="btn btn-warning btn-xs" type="button">
                                    <i class="fa fa-pencil fa-fw"></i>
                                </button>
                                <button class="btn btn-danger btn-xs" type="button">
                                    <i class="fa fa-trash fa-fw"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>Place 4</td>
                            <td>july@example.com</td>
                            <td>secure 4</td>
                            <td>
                                <button class="btn btn-warning btn-xs" type="button">
                                    <i class="fa fa-pencil fa-fw"></i>
                                </button>
                                <button class="btn btn-danger btn-xs" type="button">
                                    <i class="fa fa-trash fa-fw"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div><!--/.row-->