<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Province - Create</h3>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Create New Province</div>
            <div class="panel-body">
                <form>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pname">Province Name</label>
                                <input id="pname" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fname">Pastor's First Name</label>
                                <input id="fname" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lname">Pastor's Last Name</label>
                                <input id="lname" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6  col-md-offset-6">
                            <button class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

